[submodule "bundle/syntax-php5"]
	path = bundle/syntax-php5
	url = https://github.com/vim-scripts/php.vim-for-php5.git
[submodule "bundle/syntax-coffee-script"]
	path = bundle/syntax-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/syntax-jade"]
	path = bundle/syntax-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "bundle/syntax-markdown"]
	path = bundle/syntax-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/colors-badwolf"]
	path = bundle/colors-badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "bundle/php-cs-fixer"]
	path = bundle/php-cs-fixer
	url = https://github.com/stephpy/vim-php-cs-fixer.git
[submodule "bundle/syntax-nginx"]
	path = bundle/syntax-nginx
	url = https://github.com/littleq0903/vim-nginx.git
