[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/checksyntax"]
	path = bundle/checksyntax
	url = https://github.com/tomtom/checksyntax_vim.git
[submodule "bundle/syntax-php5"]
	path = bundle/syntax-php5
	url = https://github.com/vim-scripts/php.vim-for-php5.git
[submodule "bundle/colors-solarized"]
	path = bundle/colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/colors-codeschool"]
	path = bundle/colors-codeschool
	url = https://github.com/29decibel/codeschool-vim-theme.git
[submodule "bundle/colors-mustang"]
	path = bundle/colors-mustang
	url = https://github.com/marcus/vim-mustang
[submodule "bundle/colors-xoria256"]
	path = bundle/colors-xoria256
	url = https://github.com/vim-scripts/xoria256.vim.git
[submodule "bundle/colors-mango"]
	path = bundle/colors-mango
	url = https://github.com/goatslacker/mango.vim.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/color-badwolf"]
	path = bundle/color-badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "bundle/jade"]
	path = bundle/jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "bundle/syntax-markdown"]
	path = bundle/syntax-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
