[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/checksyntax"]
	path = bundle/checksyntax
	url = https://github.com/tomtom/checksyntax_vim.git
[submodule "bundle/syntax-php5"]
	path = bundle/syntax-php5
	url = https://github.com/vim-scripts/php.vim-for-php5.git
[submodule "bundle/colors-solarized"]
	path = bundle/colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/syntax-javascript"]
	path = bundle/syntax-javascript
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "bundle/syntax-json"]
	path = bundle/syntax-json
	url = https://github.com/vim-scripts/JSON.vim.git
[submodule "bundle/colors-codeschool"]
	path = bundle/colors-codeschool
	url = https://github.com/29decibel/codeschool-vim-theme.git
[submodule "bundle/colors-mustang"]
	path = bundle/colors-mustang
	url = https://github.com/marcus/vim-mustang
